{
  "env": {
    "main": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "stage-2"
      ],
      "plugins": [
        "external-helpers",
        "transform-object-assign"
      ]
    },
    "test": {
      "presets": [
        "env",
        "stage-2"
      ]
    }
  }
}